extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/chat.css')

block content
  div(ng-controller="ChatController")




append javascript
  script(src="/javascripts/controller/ChatController.js")